<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="../assets/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Website</title>
</head>
<body>
    <nav><ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul></nav>
    <h1>Welcome to best website on the world</h1>
    <p>You won't see a better website ever</p>
 
</body>
</html>